body{
	
	
	background-color:gray;
	font-size:14px;
	margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
	
}

a:hover{
	background: red;
	
}


.header_light:hover{
	
	background-color:yellow;


}

.header_color{
	
	color:purple;
}
.link_size{
	font-size:20px;
	font-family: monospace;
	color:white;
}
