body{
	
	
	background:linear-gradient(orange,white);	
    font-size:14px;
	font-family: Florence, cursive;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-right: 50px;
	margin-left: 50px;
	border: 10px groove white;
	padding-top: 10px;
	padding-bottom: 20px;
    border-radius: 25px;
	
}
a:link{
    text-decoration: none;
    cursor : pointer;
    
}
a:hover{
	background: red;
}

a:visited{
    color  :darkblue ;
}




.header_color{
	
	color:purple;
}
.link_size{
	font-size:20px;
	color:white;
}
.line_t{
    text-decoration: line-through;
}
#headr_break{
    border-style: solid;
    border-width: medium;
    border-color: black;
    margin: 3px 40px 3px 40px;
}

.header_animation{
    animation-name: anim1;
    animation-duration: 6s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

.qpage_animation{
    animation-name: anim2;
    animation-duration:7s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}
@keyframes anim1{
    0%{color:red;}
    25%{color:blue;}
    50%{color:greenyellow;}
    75%{color:yellow;}
    100%{color:green;}

}
@keyframes anim2{
    0%{opacity: 0;}
    25%{opacity: 0.4;}
    50%{opacity:0.5;}
    75%{opacity:0.7;}
    100%{opacity: 1;}

}

