body{
	
	
	background-color:gray;
	font-size:14px;
	font-family: Florence, cursive;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-right: 50px;
	margin-left: 50px;
	border: 10px groove white;
	padding-top: 10px;
	padding-bottom: 20px;
    border-radius: 25px;
	
}
a:link{
    text-decoration: none;
    cursor : pointer;
    
}
a:hover{
	background: red;
	
}

a:visited{
    color  :darkblue ;
}


.header_light:hover{
	
	background-color:yellow;


}

.header_color{
	
	color:purple;
}
.link_size{
	font-size:20px;
	color:white;
}
.line_t{
    text-decoration: line-through;
}
