@font-face{
    font-family:qpage;
    src:url(Fonts/Ubuntu-Light.ttf);
    
}

#fork{
    top: 0;
    border: 0;
    left: 0;
    position: absolute;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
body{
	
	
	background:linear-gradient(orange,white);	
    font-size:14px;
	font-family: qpage;
	margin-top: 60px;
	margin-bottom:60px;
	margin-right: 60px;
	margin-left: 60px;
	border: 10px groove white;
	padding-top: 10px;
	padding-bottom: 20px;
    border-radius: 25px;
    text-align:center;
	
}
a:link{
    text-decoration: none;
    cursor : pointer;
    
}


a:visited{
    color  :darkblue ;
}




.header_color{
	
	color:purple;
}
.link_size{
	font-size:20px;
	color:white;
}
.line_t{
    text-decoration: line-through;
}
#headr_break{
    border-style: solid;
    border-width: medium;
    border-color: black;
    margin: 3px 40px 3px 40px;
}

.header_animation{
    animation-name: anim1;
    animation-duration: 6s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

.qpage_animation{
    animation-name: anim2;
    animation-duration:4s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}
.contact{
    border-radius: 24px;
    
}
.version:hover{
    cursor:pointer;
}
.contact:hover{
    animation-name: contact_1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}


.td_class{
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top:5px;
    text-align:center;
    font-weight: bold;
}
.link_bar{
    font-size: 18px;
    font-weight: bold;
}
a:hover{
    opacity: 0.4;
}
.profile_image{
    border-radius: 200px;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
}

.profile_image:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.version_animation{
    animation-name: version;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}
@keyframes anim1{
 

}
@keyframes anim2{
    0%{opacity: 0;}
    25%{opacity: 0.4;}
    50%{opacity:0.5;}
    75%{opacity:0.7;}
    100%{opacity: 1;}

}



@keyframes contact_1{
    0%{transform:scale(1,1);}
    25%{transform:rotate(90deg);}
    50%{transform:rotate(180deg);}
    75%{transform:rotate(270deg);}
    100%{transform:rotate(360deg)}
}

@keyframes version{
     0%{color:red;}
    50%{color:gold;}
    100%{color:green;}
}

@media all and (max-width:1024px){
    .link_bar{
        font-size:70px;
    }
    
    .contact{
        width: 120px;
        height: 120px;
    }
    body{
	
	
	background:linear-gradient(green,white);	
    font-size:40px;
	font-family: qpage;
	margin-top: 60px;
	margin-bottom:60px;
	margin-right: 60px;
	margin-left: 60px;
	border: 10px groove white;
	padding-top: 10px;
	padding-bottom: 20px;
    border-radius: 25px;
    text-align:center;
	
}
    .badge{
        display: none;
    }
}

