@font-face{
font-family:qpagefont;
src:url(qpage.ttf);
}
.body_tag{
background-color:Black;
font-family:qpagefont;
font-style:normal;
margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
    border : 10px groove white;
    padding-top:10px;
    padding-bottom:20px;
    padding-left:10px;
    padding-right:10px;
    }
.color_tag{
color:White;
}